@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap&r');

@import "../font.css";
@import "../panels/home.css";
@import "./login.css";
@import "./settings.css";
@import "./radio.css";
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    outline: none;
}

body {
    font-family: 'Kanit', sans-serif;
    user-select: none;
}

.container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr 11fr;
}

.bottom-bar-home {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: transparent;
    display: flex;
}

nav {
    position: relative;
    width: 100px;
    height: calc(104vh - 27px);
    background: rgba(0, 0, 0, 0.6);
    border-top-right-radius: 208px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* Sidebar */
nav .pages {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 1;
    justify-content: center;
    margin-top: 105px;
    gap: 17.5px;
    align-items: center;
    flex-wrap: nowrap;
}

.pages img {
    height: 65px;
    width: 65px;
}

.pages a {
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 141px;
    background: #454545;
    box-shadow: 0 0 15px #454545, inset 5px 5px 16px #303030, inset -5px -5px 16px #5a5a5a;
}

.head {
    display: flex;
    justify-content: center;
    padding: 17.5px;
}

.player-head {
    display: flex;
    background-image: url(../../images/default/setve.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 65px;
    height: 65px;
    border: none;
    border-radius: 15px;
    transition: all 0.3s cubic-bezier(1, 0.46, 0, 1.29);
}

.player-head:hover {
    border-radius: 10px;
    box-shadow: 0 0 15px #e4751b;
    transform: scale(1.05);
}

.player-name {
    font: normal normal 32px/1px Poppins;
    color: #E1E1E1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.player-name:hover {
    transform: scale(1.05);
}


.container .home-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.container .home-section .welcome-elements {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .home-section .welcome-elements .title {
    text-align: center;
    color: #cdc1c1;
}

.container .home-section .welcome-elements img {
    margin-top: 29px;
    width: 210px;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    will-change: transform;
}

.container .home-section .images-elements {
    gap: 37px;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container .home-section .images-elements .img {
    width: 480px;
    height: 270px;
    border-radius: 10px;
}

.container .home-section .menu-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.container .home-section .menu-elements button {
    position: relative;
    z-index: 99;
    margin-top: 10px;
    margin-left: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-weight: bold;
    border: none;
    background-color: #7e4dbf;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    border: solid 2px #7e4dbf;
    transition: background-color .3s;
    font-size: 40px;
}

.container .home-section .menu-elements button:hover {
    transition: .3s;
    border: solid 2px #8217ce;
    background-color: transparent;
    box-shadow: 0 0 5px #8217ce;
}

.container .home-section .menu-elements .download-content {
    margin-top: 10px;
    margin-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
}

.container .home-section .menu-elements .text-download {
    display: none;
    width: 234px;
}

.container .home-section .menu-elements .text-download {
    display: none;
    width: 234px;
}

.container .home-section .menu-elements progress {
    display: none;
}

.progress-bar {
    display: none;
}

.text-download {
    font-size: 15px;
}

.progress-bar {
    background-color: transparent;
    height: 10px;
    width: 80%;
    margin-top: 10px;
}

.progress-bar::-webkit-progress-bar {
    background-color: #797979;
    border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
    background-color: #9d32e9;
    border-radius: 10px;
}

.info-list {
    position: fixed;
    width: 55vh;
    background: none;
    right: -3%;
    top: 8%;
}

.server {
    position: relative;
    width: 80%;
    height: 75px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    transition: opacity 1s;
}

.server:hover {
    transition: opacity 1s;
    opacity: 1;
}

.server-img {
    position: absolute;
    width: 42px;
    height: 45px;
    top: 15px;
    left: 15px;
}

.name {
    position: absolute;
    font: normal normal bold 17px/25px Poppins;
    color: #E1E1E1;
    top: 17px;
    left: 70px;
    transition: color .2s;
}

.desc {
    position: absolute;
    font: normal normal normal 11px/17px Poppins;
    color: #E1E1E1;
    transition: all .2s;
    top: 40px;
    left: 70px;
    transition: color .2s;
}

.green {
    color: #1AC707;
}

.red {
    color: #FF0409;
}

.etat-text {
    position: absolute;
    top: 20px;
    right: 14px;
    width: 49px;
    height: 33px;
    background-color: #00000036;
    border-radius: 4px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: normal normal bold 13px/15px Poppins;
    letter-spacing: 0px;
    color: #E1E1E1;
    transition: color .2s;
}

.online {
    position: absolute;
    left: 35px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid #00000080;
    transition: all .2s;
    background-color: #1AC707;
}

.online.off {
    background-color: #FF0409;
}



.play-element {
    position: absolute;
    left: 44%;
    transform: translate(-50%);
    height: 100%;
    color: #F1F1F1;
    font: normal normal bold 19px/29px Poppins;
    text-align: center;
}

/* .play-btn {
    top: 10px;
    width: 198px;
    height: 48px;
    border-radius: 20px;
    border: none;
    background: radial-gradient(circle, #e4751b 0%, #ac5f08 100%);
    font: normal normal bold 20px/25px Poppins;
    color: #ffffff;
    margin: 15px 0;
    transition: 0.5s ease-out;
    cursor: cell;
}

.play-btn:hover {
    box-shadow: 0 0 15px #a74e06;
    transform: scale(1.05);
} */

.play-btn {
    top: 1px;
    width: 187px;
    margin: 15px 0;
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
  }
  
  .play-btn:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .play-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      #e4751b 10.8%,
      #ac5f08 94.3%
    );
    transition: all 0.475s;
  }
  
  .play-btn:hover{
  box-shadow: 0 0 15px #a74e06;
  }

