@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@import "../font.css";
@import "../panels/home.css";
@import "./login.css";
@import "./settings.css";
@import "./radio.css";

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    outline: none;
}

body {
    font-family: 'Kanit', sans-serif;
    user-select: none;
}

.container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr 11fr;
}

nav {
    position: relative;
    width: 100px;
    height: calc(100vh - 25px);
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}



/* Sidebar */
nav .pages {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 1;
    justify-content: center;
    margin-top: 105px;
    gap: 17.5px;
    align-items: center;
}

.pages img {
    height: 65px;
    width: 65px;
}

.pages a {
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    background-color: #161616;
    width: 65px;
    box-shadow:
    1.8px 1.8px 0.6px rgba(0, 0, 0, 0.008),
    4.3px 4.1px 1.4px rgba(0, 0, 0, 0.011),
    7.6px 7.4px 2.5px rgba(0, 0, 0, 0.014),
    12.7px 12.2px 4.2px rgba(0, 0, 0, 0.016),
    20.9px 20.1px 6.9px rgba(0, 0, 0, 0.019),
    36.5px 35.1px 12px rgba(0, 0, 0, 0.022),
    79px 76px 26px rgba(0, 0, 0, 0.03)
    ;
}

.head {
    display: flex;
    justify-content: center;
    padding: 17.5px;
}

.player-head {
    display: flex;
    background-image: url(../../images/default/setve.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 65px;
    height: 65px;
    border: none;
    border-radius: 15px;
    transition: all 0.3s cubic-bezier(1, 0.46, 0, 1.29);
}

.player-head:hover {
    border-radius: 10px;
}



.container .home-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.container .home-section .welcome-elements {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .home-section .welcome-elements .title {
    text-align: center;
    color: #cdc1c1;
}

.container .home-section .welcome-elements img {
    margin-top: 29px;
    width: 210px;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    will-change: transform;
}

.container .home-section .images-elements {
    gap: 37px;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container .home-section .images-elements .img {
    width: 480px;
    height: 270px;
    border-radius: 10px;
}

.container .home-section .menu-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.container .home-section .menu-elements button {
    position: relative;
    z-index: 99;
    margin-top: 10px;
    margin-left: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-weight: bold;
    border: none;
    background-color: #7e4dbf;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    border: solid 2px #7e4dbf;
    transition: background-color .3s;
    font-size: 40px;
}

.container .home-section .menu-elements button:hover {
    transition: .3s;
    border: solid 2px #8217ce;
    background-color: transparent;
    box-shadow: 0 0 5px #8217ce;
}

.container .home-section .menu-elements .download-content {
    margin-top: 10px;
    margin-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
}

.container .home-section .menu-elements .text-download {
    display: none;
    width: 234px;
}

.container .home-section .menu-elements .text-download {
    display: none;
    width: 234px;
}

.container .home-section .menu-elements progress {
    display: none;
}

.progress-bar {
    display: none;
}

.text-download {
    font-size: 15px;
}

.progress-bar {
    background-color: transparent;
    height: 10px;
    width: 80%;
    margin-top: 10px;
}

.progress-bar::-webkit-progress-bar {
    background-color: #797979;
    border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
    background-color: #9d32e9;
    border-radius: 10px;
}

.info-list {
    position: fixed;
    width: 55vh;
    background: none;
    right: -3%;
    top: 8%;
}

.server {
    position: relative;
    width: 80%;
    height: 75px;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    transition: opacity 1s;
}

.server:hover {
    transition: opacity 1s;
    opacity: 1;
}

.server-img {
    position: absolute;
    width: 42px;
    height: 45px;
    top: 15px;
    left: 15px;
}

.name {
    position: absolute;
    font: normal normal bold 17px/25px Poppins;
    color: #E1E1E1;
    top: 17px;
    left: 70px;
    transition: color .2s;
}

.desc {
    position: absolute;
    font: normal normal normal 11px/17px Poppins;
    color: #E1E1E1;
    transition: all .2s;
    top: 40px;
    left: 70px;
    transition: color .2s;
}

.green {
    color: #1AC707;
}

.red {
    color: #FF0409;
}

.etat-text {
    position: absolute;
    top: 20px;
    right: 14px;
    width: 49px;
    height: 33px;
    background-color: #00000036;
    border-radius: 4px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: normal normal bold 13px/15px Poppins;
    letter-spacing: 0px;
    color: #E1E1E1;
    transition: color .2s;
}

.online {
    position: absolute;
    left: 35px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid #00000080;
    transition: all .2s;
    background-color: #1AC707;
}

.online.off {
    background-color: #FF0409;
}